/* box model */

#box1{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid rgb(219, 161, 85);
    background-color: rgb(116, 49, 24);
    border-radius: 50%;
}
#box1:hover{
    background-color: rgb(231, 31, 31);
    box-shadow: 1px 1px 50px red;
}
#box2{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid rgb(190, 125, 125);
    background-color: rgb(24, 3, 24);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
#box2:hover{
    background-color: rgb(221, 221, 29);
    box-shadow: 1px 1px 50px yellow;
}
#box3{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid rgb(57, 86, 139);
    background-color: rgb(60, 161, 201);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#box3:hover{
    background-color: rgb(18, 158, 18);
    box-shadow: 1px 1px 50px green;
}